.profit-growth

	// container

	.container.container-small

		.row

			.col-md-6

				// graph

				img(src="../img/graph.jpg" alt="@@")

			.col-md-6

				// list

				.profit-growth__list

					ul

						li
							strong
								| Рост прибыли с 0,5 до 1,0 миллиона

						li
							p
								| Тематика:
								span
									| Описание тематики, любой абстрактный

						li
							p
								| Канал:
								span
									| Описание тематики

						li
							p
								| Регион:
								span
									| Описание тематики, любой абстрактный

						li
							p
								| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum