.works#works

	// container

	.container

		.row

			.col-md-12

				h3
					| Наши работы

		.row

			.col-sm-12.col-md-4
				img.wow.fadeIn(src="../img/works/work-1.jpg" alt="@@")

			.col-sm-12.col-md-4
				img.wow.fadeIn(src="../img/works/work-2.jpg" alt="@@")

			.col-sm-12.col-md-4
				img.wow.fadeIn(src="../img/works/work-1.jpg" alt="@@")