.screens

	// container

	.container.container-small

		.row

			.col-md-6

				// content

				.screens__content.wow.fadeInLeft

					h3
						| экраны

					p
						| This is Photoshop's version  of Lorem Ipsum. Proin  nibh vel velit auctor aliquet. Aenean sollicitudin, quis bibendum auctor, nisi elit consequat sagittis sem nibh id elit. Duis sed odio sit amet vulputate cursus mauris. Morbi  accumsan ipsum velit. Nam nec ellus a odio tinciduntaliquet. Aenean sollicitudin, quis bibendum auctor, nisi elit consequat sagittis sem nibh id elit. Duis sed odio sit amet vulputate cursus mauris. Morbi  accumsan ipsum velit. Nam nec ellus a odio tincidunt

					h4
						| 6000р/2000 показов

					span
						| Бесплатное пробное размещение рекламы на несколько дней.

					ul.screens__content__icons-doc
						li
							a(href="#" title="")
								| Прайс
						li
							a(href="#" title="")
								| Спецификация

					a.call-popup-registration.button-blue(href="#" title="")
						| Зарегистрироваться					

			.col-md-6

				img.screens__example.wow.fadeIn(src="../img/screen.jpg" alt="@@")