.you-digital

	// container

	.container.container-small

		.row

			.col-md-12

				h3
					| Вы рекламное агенство?

				p
					| Все подробности о сотрудничестве Вы сможете узнать после регистрации

				a.button-transparent.you-digital__btn(href="#" title="")
					| Зарегистрироваться