.ready

	// container

	.container.container-small

		.row

			.col-md-12

				h3
					| Готовы начать?

				p
					| Создайте учетную запись

				a.call-popup-registration.button-transparent.ready__btn(href="#" title="")
					| Зарегистрироваться