.popup.popup-registration

	a.popup-close(href="#" title="")

	h4
		| Регистрация
	
	form(action="/" method="post")

		// field

		.input-field
			input(type="text" name="fio" placeholder="ФИО" required)

		// field

		.input-field
			input(type="text" name="email" placeholder="E-mail" required)

		// field

		.input-field
			input(type="text" name="phone" placeholder="Телефон" required)

		// popup info

		.popup-info
			p
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora officiis aspernatur dignissimos autem eaque voluptatum nulla architecto incidunt asperiores excepturi tempore distinctio, aliquid nesciunt.

		// field

		.button-submit
			button.btn-simple-blue
				| Зарегистрироваться

.popup.popup-logIn

	a.popup-close(href="#" title="")

	h4
		| Вход в личный кабинет
	
	form(action="/" method="post")

		// field

		.input-field
			input(type="text" name="login" placeholder="Имя пользователя")

		// field

		.input-field
			input(type="password" name="password" placeholder="Пароль")

		a.popup-forgot(href="#" title="")
			| Забыли пароль?

		// field

		.button-submit
			button.btn-simple-blue
				| Войти

.popup#okthanks

	a.popup-close(href="#" title="")

	p
		| Спасибо за заявку!