.popup.popup-registration

	a.popup-close(href="#" title="")

	h4
		| Регистрация
	
	form(action="/" method="post")

		// field

		.input-field
			input(type="text" name="fio" placeholder="ФИО")

		// field

		.input-field
			input(type="text" name="email" placeholder="E-mail")

		// field

		.input-field
			input(type="text" name="phone" placeholder="Телефон")

		// popup info

		.popup-info
			p
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora officiis aspernatur dignissimos autem eaque voluptatum nulla architecto incidunt asperiores excepturi tempore distinctio, aliquid nesciunt.

		// field

		.button-submit
			button.btn-simple-blue
				| Зарегистрироваться

.popup#okthanks

	a.popup-close(href="#" title="")

	p
		| Спасибо за заявку!