@import '../styles/fonts.css';
.logo,
a,
a:hover,
li,
img,
input,
textarea,
span {
  transition: all 0.5s ease-in-out;
}
body {
  cursor: default;
  overflow-x: hidden !important;
}
a {
  cursor: pointer;
}
.color-red {
  color: #cd333f;
}
.color-blue {
  color: #195abc;
}
.left {
  float: left;
}
.right {
  float: right;
}
.button-blue {
  display: block;
  width: 177px;
  height: 37px;
  background-image: -webkit-gradient(linear, 175 0, 0 0, color-stop(0.302, #45ace3), color-stop(0.731, #0086ce));
  background-image: -webkit-linear-gradient(180deg, #45ace3 30.2%, #0086ce 73.1%);
  background-image: -moz-linear-gradient(180deg, #45ace3 30.2%, #0086ce 73.1%);
  background-image: -o-linear-gradient(180deg, #45ace3 30.2%, #0086ce 73.1%);
  background-image: linear-gradient(270deg, #45ace3 30.2%, #0086ce 73.1%);
  font: 12px 'robotomedium';
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 37px;
  border-radius: 6px;
}
.button-blue:hover,
.button-blue:focus {
  background: #000;
  color: #fff;
  font-family: 'robotobold';
  border-radius: 6px;
  text-decoration: none;
}
.button-transparent {
  display: block;
  width: 177px;
  height: 37px;
  background: 0;
  font: 12px 'robotomedium';
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  border-radius: 6px;
  border: 2px solid #fff;
}
.button-transparent:hover,
.button-transparent:focus {
  background: #fff;
  color: #0086ce;
  border-color: #fff;
  font-family: 'robotobold';
  border-radius: 6px;
  text-decoration: none;
}
@media only screen and (min-width: 1200px) {
  .about {
    padding: 50px 0 70px 0;
    height: auto;
    overflow: hidden;
    background: #f9fcff;
    text-align: center;
  }
  .about h3 {
    margin-bottom: 40px;
    padding-bottom: 6px;
    display: inline-block;
    font: 30px 'robotoregular';
    color: #0086ce;
    text-transform: uppercase;
    border-bottom: 4px solid #0086ce;
  }
  .about p {
    width: 490px;
    margin: 0 auto;
    font: 14px 'robotolight';
    color: #2c2c2c;
    line-height: auto;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .footer {
    padding: 52px 0;
    background: #191d27;
    position: relative;
  }
}
@media only screen and (min-width: 1200px) {
  .clients {
    height: auto;
    padding: 0 0 68px 0;
    background: #fff;
  }
  .clients img {
    width: 150px;
    height: 81px;
    display: block;
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
  }
  .clients img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .clients {
    height: auto;
    padding: 64px 0 68px 0;
    background: #fff;
  }
  .clients img {
    width: 150px;
    height: 81px;
    display: block;
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
  }
  .clients img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 36px 0 32px 0;
    background: #fff;
    position: relative;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__list {
    height: auto;
  }
  .footer__list ul {
    -webkit-padding-start: 0;
    padding: 0;
  }
  .footer__list ul li {
    margin-right: 20px;
    padding: 0 10px;
    display: inline-block;
    font: 14px 'robotoregular';
    color: #22252f;
  }
  .footer__phone-number {
    margin: 28px 0 38px 0;
    font: 18px 'robotomedium';
  }
  .footer__social-icons {
    position: relative;
    float: right;
  }
  .social-icons {
    height: auto;
  }
  .social-icons ul {
    -webkit-padding-start: 0;
    padding: 0;
    list-style: none;
  }
  .social-icons ul li {
    margin: 0 10px;
    display: inline-block;
  }
  .social-icons ul li:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
  }
  .social-icons ul li:last-child {
    margin: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .footer {
    padding: 52px 0;
    background: #191d27;
    position: relative;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    height: 88px;
    overflow: hidden;
    background: #fff;
  }
  .header__phone-number a,
  .header__phone-number a:hover {
    line-height: 88px !important;
  }
  .logo {
    margin-top: 18px;
    width: 140px;
    height: 48px;
    background: #0086ce;
    font: 18px 'robotobold_italic';
    line-height: 48px;
    text-align: center;
    color: #fff;
  }
  .logo:hover {
    background: #22252f;
  }
  .navigation {
    margin-left: 30px;
    height: 88px;
  }
  .navigation ul {
    -webkit-padding-start: 0;
    height: auto;
  }
  .navigation ul li {
    list-style: none;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    padding: 0 6px;
    display: inline-block;
    height: 88px;
    font: 14px 'robotoregular';
    color: #22252f;
    line-height: 89px;
    text-transform: uppercase;
    border-bottom: 4px solid #fff;
    text-decoration: none;
    margin-right: 40px;
  }
  .navigation ul li a:hover,
  .navigation ul li a:hover:hover,
  .navigation ul li a:focus,
  .navigation ul li a:hover:focus {
    border-color: #0086ce;
    color: #0086ce;
  }
  .navigation ul li a:last-child,
  .navigation ul li a:hover:last-child {
    margin-right: 0 !important;
  }
  .phone-number {
    height: auto;
  }
  .phone-number a,
  .phone-number a:hover {
    display: block;
    font: 18px 'robotoregular';
    color: #0086ce;
    text-decoration: none;
    text-align: right;
  }
  .phone-number a:hover,
  .phone-number a:hover:hover,
  .phone-number a:focus,
  .phone-number a:hover:focus {
    color: #22252f;
  }
  .container-small {
    width: 1040px !important;
  }
  .logo-column {
    width: 140px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .header {
    position: relative;
    height: auto;
    background: #191d27;
    font: 12px 'robotobold';
  }
}
@media only screen and (min-width: 1200px) {
  .main-screen {
    height: 457px;
    background: #212430 url('../img/main-screen.jpg') no-repeat center;
    color: #fff;
    overflow: hidden;
  }
  .main-screen h2 {
    margin: 47px 0 30px 0;
    font: 27px 'robotomedium';
    text-transform: uppercase;
    line-height: auto;
  }
  .main-screen p {
    margin-bottom: 30px;
    font: 12px 'robotoregular';
    text-transform: uppercase;
    line-height: 24px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .header {
    position: relative;
    height: auto;
    background: #191d27;
    font: 12px 'robotobold';
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .popup {
    display: none;
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 6px;
    background: #fff;
  }
  .popup p {
    text-align: center;
    line-height: 200px;
    color: #000 !important;
    text-decoration: underline;
  }
  .popup-close {
    right: 10px;
    top: 10px;
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: url('../img/icon-close.png') no-repeat;
  }
}
@media only screen and (min-width: 1200px) {
  .popup {
    display: none;
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 6px;
    background: #fff;
  }
  .popup p {
    text-align: center;
    line-height: 200px;
    color: #000 !important;
    text-decoration: underline;
  }
  .popup-close {
    right: 10px;
    top: 10px;
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: url('../img/icon-close.png') no-repeat;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .footer {
    padding: 52px 0;
    background: #191d27;
    position: relative;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 36px 0 32px 0;
    background: #fff;
    position: relative;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__list {
    height: auto;
  }
  .footer__list ul {
    -webkit-padding-start: 0;
    padding: 0;
  }
  .footer__list ul li {
    margin-right: 20px;
    padding: 0 10px;
    display: inline-block;
    font: 14px 'robotoregular';
    color: #22252f;
  }
  .footer__phone-number {
    margin: 28px 0 42px 0;
    font: 18px 'robotomedium';
  }
  .footer__social-icons {
    position: relative;
    float: right;
  }
  .social-icons {
    height: auto;
  }
  .social-icons ul {
    -webkit-padding-start: 0;
    padding: 0;
    list-style: none;
  }
  .social-icons ul li {
    margin: 0 10px;
    display: inline-block;
  }
  .social-icons ul li:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
  }
  .social-icons ul li:last-child {
    margin: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .ready {
    height: auto;
    padding: 54px 0 32px 0;
    background: url('../img/blue-ready-block.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
  }
  .ready h3 {
    margin-bottom: 30px;
    font: 30px 'robotomedium';
    text-transform: uppercase;
  }
  .ready p {
    margin-bottom: 40px;
    font: 20px 'robotoregular';
    text-transform: uppercase;
  }
  .ready__btn {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .ready {
    height: auto;
    padding: 44px 0 32px 0;
    background: url('../img/blue-ready-block.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
  }
  .ready h3 {
    margin-bottom: 30px;
    font: 30px 'robotomedium';
    text-transform: uppercase;
  }
  .ready p {
    margin-bottom: 40px;
    font: 20px 'robotoregular';
    text-transform: uppercase;
  }
  .ready__btn {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .footer {
    padding: 52px 0;
    background: #191d27;
    position: relative;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 36px 0 32px 0;
    background: #fff;
    position: relative;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__list {
    height: auto;
  }
  .footer__list ul {
    -webkit-padding-start: 0;
    padding: 0;
  }
  .footer__list ul li {
    margin-right: 20px;
    padding: 0 10px;
    display: inline-block;
    font: 14px 'robotoregular';
    color: #22252f;
  }
  .footer__phone-number {
    margin: 28px 0 42px 0;
    font: 18px 'robotomedium';
  }
  .footer__social-icons {
    position: relative;
    float: right;
  }
  .social-icons {
    height: auto;
  }
  .social-icons ul {
    -webkit-padding-start: 0;
    padding: 0;
    list-style: none;
  }
  .social-icons ul li {
    margin: 0 10px;
    display: inline-block;
  }
  .social-icons ul li:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
  }
  .social-icons ul li:last-child {
    margin: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .search {
    height: auto;
    padding: 42px 0 72px 0;
    background: #fff;
  }
  .search__map {
    display: inline-block;
    width: 480px;
    height: 364px;
    -webkit-box-shadow: 2px 2px 28px -5px #b3b1b3;
    -moz-box-shadow: 2px 2px 28px -5px #b3b1b3;
    box-shadow: 2px 2px 28px -5px #b3b1b3;
  }
  .search__map:hover {
    -webkit-box-shadow: 2px 2px 42px -5px #9e9c9e;
    -moz-box-shadow: 2px 2px 42px -5px #9e9c9e;
    box-shadow: 2px 2px 42px -5px #9e9c9e;
  }
  .search__content {
    position: relative;
    min-height: 364px;
    overflow: hidden;
    margin-left: 0px;
    width: 400px;
  }
  .search__content h3 {
    margin-top: -7px;
    margin-bottom: 40px;
    font: 30px 'robotoregular';
    text-transform: uppercase;
    color: #0086ce;
  }
  .search__content p {
    margin-bottom: 20px;
    font: 14px 'robotolight';
    color: #2c2c2c;
  }
  .search__content__review {
    padding: 20px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    border: 1px solid #0086ce;
  }
  .search__content__review:hover {
    border-color: #000;
  }
  .search__content__review:hover span {
    color: #0086ce;
  }
  .search__content__review:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
  }
  .search__content__review img {
    vertical-align: top;
    margin-right: 20px;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -webkit-box-shadow: 7px -7px 13px -7px #c9c7c9;
    -moz-box-shadow: 7px -7px 13px -7px #c9c7c9;
    box-shadow: 7px -7px 13px -7px #c9c7c9;
  }
  .search__content__review__content {
    display: inline-block;
    width: 300px;
  }
  .search__content__review__content p {
    margin-bottom: 24px;
    font: 12px 'robotolight';
    color: #2c2c2c;
  }
  .search__content__review__content span {
    font: 14px 'robotolight';
    color: #2c2c2c;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 1200px) {
  .search {
    height: auto;
    padding: 42px 0 72px 0;
    background: #fff;
  }
  .search__map {
    display: inline-block;
    width: 480px;
    height: 364px;
    -webkit-box-shadow: 2px 2px 28px -5px #b3b1b3;
    -moz-box-shadow: 2px 2px 28px -5px #b3b1b3;
    box-shadow: 2px 2px 28px -5px #b3b1b3;
  }
  .search__map:hover {
    -webkit-box-shadow: 2px 2px 42px -5px #9e9c9e;
    -moz-box-shadow: 2px 2px 42px -5px #9e9c9e;
    box-shadow: 2px 2px 42px -5px #9e9c9e;
  }
  .search__content {
    position: relative;
    min-height: 364px;
    overflow: hidden;
    margin-left: 0px;
    width: 400px;
  }
  .search__content h3 {
    margin-top: -7px;
    margin-bottom: 40px;
    font: 30px 'robotoregular';
    text-transform: uppercase;
    color: #0086ce;
  }
  .search__content p {
    margin-bottom: 20px;
    font: 14px 'robotolight';
    color: #2c2c2c;
  }
  .search__content__review {
    padding: 20px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    border: 1px solid #0086ce;
  }
  .search__content__review:hover {
    border-color: #000;
  }
  .search__content__review:hover span {
    color: #0086ce;
  }
  .search__content__review:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
  }
  .search__content__review img {
    vertical-align: top;
    margin-right: 20px;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -webkit-box-shadow: 7px -7px 13px -7px #c9c7c9;
    -moz-box-shadow: 7px -7px 13px -7px #c9c7c9;
    box-shadow: 7px -7px 13px -7px #c9c7c9;
  }
  .search__content__review__content {
    display: inline-block;
    width: 300px;
  }
  .search__content__review__content p {
    margin-bottom: 24px;
    font: 12px 'robotolight';
    color: #2c2c2c;
  }
  .search__content__review__content span {
    font: 14px 'robotolight';
    color: #2c2c2c;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .works {
    height: auto;
    margin-bottom: 64px;
  }
  .works h3 {
    margin-top: 30px;
    margin-bottom: 42px;
    font: 30px 'robotoregular';
    color: #0086ce;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1.5px;
  }
  .works img {
    width: 276px;
    height: 300px;
    display: block;
    -webkit-box-shadow: 2px 2px 25px -5px #9e9c9e;
    -moz-box-shadow: 2px 2px 25px -5px #9e9c9e;
    box-shadow: 2px 2px 25px -5px #9e9c9e;
    -webkit-filter: contrast(1);
    filter: contrast(1);
  }
  .works img:hover {
    -webkit-box-shadow: 2px 2px 52px -5px #6b6a6b;
    -moz-box-shadow: 2px 2px 52px -5px #6b6a6b;
    box-shadow: 2px 2px 52px -5px #6b6a6b;
    -webkit-filter: contrast(1.5);
    filter: contrast(1.5);
  }
  .works img:nth-child(0) {
    float: left;
    margin: 0;
  }
  .works img:nth-child(1) {
    margin: 0 auto;
  }
  .works img:nth-child(2) {
    float: right;
  }
}
@media only screen and (min-width: 1200px) {
  .works {
    height: auto;
    margin-bottom: 64px;
  }
  .works h3 {
    margin-top: 30px;
    margin-bottom: 42px;
    font: 30px 'robotoregular';
    color: #0086ce;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1.5px;
  }
  .works img {
    width: 276px;
    height: 300px;
    display: block;
    -webkit-box-shadow: 2px 2px 25px -5px #9e9c9e;
    -moz-box-shadow: 2px 2px 25px -5px #9e9c9e;
    box-shadow: 2px 2px 25px -5px #9e9c9e;
    -webkit-filter: contrast(1);
    filter: contrast(1);
  }
  .works img:hover {
    -webkit-box-shadow: 2px 2px 52px -5px #6b6a6b;
    -moz-box-shadow: 2px 2px 52px -5px #6b6a6b;
    box-shadow: 2px 2px 52px -5px #6b6a6b;
    -webkit-filter: contrast(1.5);
    filter: contrast(1.5);
  }
  .works img:nth-child(0) {
    float: left;
    margin: 0;
  }
  .works img:nth-child(1) {
    margin: 0 auto;
  }
  .works img:nth-child(2) {
    float: right;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .footer {
    padding: 52px 0;
    background: #191d27;
    position: relative;
  }
}
@media only screen and (min-width: 1200px) {
  .you-digital {
    height: auto;
    padding: 44px 0 32px 0;
    background: url('../img/blue-digital-block.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
  }
  .you-digital h3 {
    margin-bottom: 30px;
    font: 22px 'robotoregular';
    text-transform: uppercase;
  }
  .you-digital p {
    margin-bottom: 40px;
    font: 22px 'robotolight';
    text-transform: none;
  }
  .you-digital__btn {
    margin: 0 auto;
  }
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
