@media only screen and (min-width : @desktop) {

	// main screen

	.main-screen {
		height: 457px;
		background: #212430 url('../img/main-screen.jpg') no-repeat center;
		color: @white;
		overflow: hidden;

		h2 {
			margin: 47px 0 30px 0;
			font: 27px 'robotomedium';
			text-transform: uppercase;
			line-height: auto;
		}

		p {
			margin-bottom: 30px;
			font: 12px 'robotoregular';
			text-transform: uppercase;
			line-height: 24px;

		}

	}

}