.main-screen

	// container

	.container.container-small

		.row

			.col-md-6.wow.fadeInUp

				h2
					| Один день после регистрации бесплатно

				p
					| мы позволяем искать наружную рекламу в вашем регионе. Рекламные щиты, приюты для автобусов, цифровые экраны и многое другое

				p
					| Просто создайте учетную запись ниже и используйте нашу онлайн-карту, чтобы просмотреть местоположения, цены, фотографии и доступность. Если вам нравится то, что вы видите, выберите даты, которые вы хотите, и покупайте онлайн.

				a.button-blue.call-popup-registration(href="#" title="")
					| Зарегистрироваться

			.col-md-6
				

				
				