footer.footer

	// container

	.container.container-small

		.row

			.col-md-7

				// logotype

				.logo.footer__logo.wow.fadeIn
					| М2Медиа

				// list

				.footer__list
					ul
						li
							| ellus a odio tincidunt 
						li
							| ellus a odio tincidunt 
						li
							| ellus a odio tincidunt 						

			.col-md-5

				// phone number

				.phone-number.footer__phone-number.wow.fadeInRight
					a(href="tel:88001005598" title="")
						| 8(800) 100 55 98

				// social icons

				.social-icons.footer__social-icons.wow.fadeInRight
					ul
						li
							a(href="#" title="")
								img(src="../img/icons/icon-vk.png" alt="@@")
						li
							a(href="#" title="")
								img(src="../img/icons/icon-fb.png" alt="@@")
						li
							a(href="#" title="")
								img(src="../img/icons/icon-inst.png" alt="@@")