footer.footer

	// container

	.container

		.row

			.col-md-12
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo quam felis, et mollis tortor porta nec. Integer dignissim pretium nibh, eu malesuada erat vulputate in. Duis urna magna, condimentum nec purus ut, ultricies tristique massa. Nam vel leo consequat, ornare elit sed, hendrerit sem. Nam dictum augue at lacinia euismod. Integer porttitor lorem vitae elit aliquam, eget dictum nisi molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis congue tellus ut congue convallis. Nunc porta, ipsum et porttitor pretium, augue tortor venenatis orci, et gravida enim urna non orci. Aenean purus neque, efficitur et porta vel, tincidunt et arcu. Aliquam ut arcu a erat pellentesque porttitor ac ac arcu.

