.search#search-screens

	// container

	.container

		.row

			.col-md-6
				img.search__map.wow.fadeIn(src="../img/map.jpg" alt="@@")

			.col-md-6

				// search content

				.search__content.wow.fadeIn

					h3
						| Поиск

					p
						| Создав учетную запись, вы увидите нашу онлайн-карту. Увеличьте область, в которой вы заинтересованы, и используя поле фильтра, вы можете искать доступность по дате и сузить требуемые форматы.

					p
						| Всё очень просто. Настолько, что у нас есть даже отзывы!

					// review

					.search__content__review

						img(src="../img/avatar.jpg" alt="@@")

						.search__content__review__content

							p
								| «Получение рекламы на открытом воздухе может быть невероятно дорогостоящим. У NAME есть решение, которое просто, быстро и экономично. Идеально подходит для предстоящей организации, такой как NAME ».

							span
								| Михаил Ларионов, CEO SAFE-Meat