header.header

	// container

	.container.container-small

		.row

			.col-md-2
				
				// logotype

				.logo
					| М2Медиа

			.col-md-7

				// navigation

				.navigation
					ul
						li
							a(href="#" title="")
								| О нас
							a(href="#" title="")
								| Поиск экранов
							a(href="#" title="")
								| Наши работы
							a(href="#" title="")
								| Эффективность

			.col-md-3

				// phone number

				.phone-number.header__phone-number 
					a(href="tel:88001005598" title="")
						| 8(800) 100 55 98
				
				