.clients

	// container

	.container.container-small

		.row

			.col-xs-6.col-sm-4.col-md-2
				img.wow.fadeIn(src="../img/clients/client-1.jpg" alt="@@")

			.col-xs-6.col-sm-4.col-md-2
				img.wow.fadeIn(src="../img/clients/client-2.jpg" alt="@@")

			.col-xs-6.col-sm-4.col-md-2
				img.wow.fadeIn(src="../img/clients/client-3.jpg" alt="@@")

			.col-xs-6.col-sm-4.col-md-2
				img.wow.fadeIn(src="../img/clients/client-4.jpg" alt="@@")

			.col-xs-6.col-sm-4.col-md-2
				img.wow.fadeIn(src="../img/clients/client-5.jpg" alt="@@")

			.col-xs-6.col-sm-4.col-md-2
				img.wow.fadeIn(src="../img/clients/client-6.jpg" alt="@@")